/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
	--text_dec_color: #2196f3;
	--body_color: #212121;
	--body_select: red;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--body_color);
	background-color: #e5e5e5;
}
::selection {
	background: var(--body_select);
}
.logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	line-height: 1.1738;
	font-weight: 700;
	color: var(--body_color);
}
.menu {
	font-size: 14px;
	line-height: 1.1721;
	font-weight: 500;
}

a,
button {
	text-decoration: none;
	color: #212121;
}

a:hover,
button:hover,
menu:hover {
	text-decoration: underline;
	text-decoration-color: var(--text_dec_color, #2196f3);
}
.logo_first_word {
	color: #2196f3;
}
.logo_second_word {
	color: #000;
}
.buttons {
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.625;
	font-weight: 500;
}
.address_top {
	color: #757575;
}
ul {
	list-style-type: none;
}
.image_title {
	font-size: 18px;
	line-height: 2;
	font-weight: 700;
}
.image_description {
	font-size: 16px;
	line-height: 1.875;
	font-weight: 400;
	color: #757575;
}
.footer {
	font-size: 14px;
	line-height: 1.7142;
	font-weight: 400;
	font-style: normal;
	color: #fff;
}
.footer_mail_tel {
	color: rgba(255, 255, 255, 0.6);
}
